{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Comment{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
<div class="comment-form-wrapper">
  <h2>{% if object %}Edit Comment{% else %}New Comment{% endif %}</h2>

  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
    <a href="{% if object %}{% url 'blog:post_detail' object.post.pk %}{% else %}{% url 'blog:post_detail' post.pk %}{% endif %}">Cancel</a>
  </form>
</div>
{% endblock %}
