{% extends 'blog/base.html' %}
{% block title %}Posts - Django Blog{% endblock %}

{% block content %}
<h2>Posts</h2>

{% if user.is_authenticated %}
  <p><a href="{% url 'blog:post_new' %}">Create new post</a></p>
{% else %}
  <p><a href="{% url 'blog:login' %}">Login</a> to create posts.</p>
{% endif %}

<ul>
  {% for post in posts %}
    <li>
      <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
      by {{ post.author.username }} - {{ post.published_date|date:"M. j, Y, P" }}
      <p>{{ post.content|truncatechars:150 }}</p>
      {% if user == post.author %}
        <small>
          <a href="{% url 'blog:post_update' post.pk %}">Edit</a>|
          <a href="{% url 'blog:post_delete' post.pk %}">Delete</a>
        </small>
      {% endif %}
    </li>
  {% empty %}
    <li>No posts yet</li>
  {% endfor %}
</ul>

{% endblock %}
