body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.auth-container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 6px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: purple;
    color: white;
    border: none;
}
